@model SewingCompany.ViewModels.User.EditUserViewModel
@{
    ViewBag.Title = "Edit user";
}
<div>
    <a class="classic-button" asp-action="Index">&lt; Back to List</a>
</div>
<h2>Edit</h2>

<form asp-action="Edit" asp-controller="Users">
    <h4>User</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label  col-md-2">Name</label>
        <input type="text" asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label  col-md-2">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserRole" class="control-label col-md-2"></label>
        <select asp-for="UserRole" class="form-control" asp-items="ViewBag.UserRole"></select>
        <span asp-validation-for="UserRole" class="text-danger"></span>
    </div>
    <div class="form-group">
        <center><input type="submit" value="Save" class="btn classic-button" /></center>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }